[submodule "notes/Year_1/Q1/Software_Engineering_for_AI/Assignment_1"]
	path = notes/Year_1/Q1/Software_Engineering_for_AI/Assignment_1
	url = https://github.com/tue-5ARA0-2025-Q1/gittutorial-DKeAlvaro.git
